<ion-header>
  <ion-tab-bar slot="bottom">

    <ion-tab-button>
      <ion-router-link routerLink="/tabs/tab1/recommended">
        <ion-icon aria-hidden="true" name="earth-outline"></ion-icon>
        <ion-label>おすすめ</ion-label>
      </ion-router-link>
    </ion-tab-button>

    <ion-tab-button>
      <ion-router-link routerLink="/tabs/tab1/monhan-now">
        <ion-icon aria-hidden="true" name="cellular-outline"></ion-icon>
        <ion-label>モンハンNOW</ion-label>
      </ion-router-link>
    </ion-tab-button>

  </ion-tab-bar>
</ion-header>
<ion-content [fullscreen]="true">

  <!-- タブのコンテンツ -->
  <ion-content>
    <p>モンハンnow</p>

    <!-- ここに "tab1" ページのコンテンツを追加 -->
  </ion-content>
</ion-content>
